--extra-index-url https://download.pytorch.org/whl/cpu
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
python-multipart>=0.0.6
aiohttp>=3.8.0
pydantic>=2.0.0
numpy>=1.24.0
librosa>=0.10.0
soundfile>=0.12.0
jax>=0.6.2
jaxlib>=0.4.30
grain
google-cloud-storage>=2.17.0
absl-py
datasets
flax>=0.10.2
optax>=0.2.3
torch>=2.6.0
torchvision>=0.20.1
ftfy
tensorboard>=2.17.0
tensorboardx>=2.6.2.2
tensorboard-plugin-profile>=2.15.2
Jinja2
scikit-image
parameterized
Pillow
pylint
pyink
pytest==8.2.2
tensorflow>=2.17.0
tensorflow-datasets>=4.9.6
ruff>=0.1.5,<=0.2
opencv-python-headless==4.10.0.84
orbax-checkpoint
tokenizers==0.21.0
huggingface_hub
transformers==4.48.1
einops==0.8.0
sentencepiece
aqtp
imageio==2.37.0
imageio-ffmpeg==0.6.0
hf_transfer>=0.1.9
audax
jieba
pypinyin
jax_vocos
flax>=0.7.0
# maxdiffusion package should be installed from the jax-F5-TTS project
git+https://github.com/flyingblackshark/jax-vocos
git+https://github.com/flyingblackshark/jax-F5-TTS


